# Ejecutables compilados
*.exe

# Carpetas llamadas ejecutables en cualquier parte del proyecto
ejecutables/
/3_programacion_orientada_a_objetos/Test/nbproject/private/
/3_programacion_orientada_a_objetos/Unidad_1/nbproject/private/
/3_programacion_orientada_a_objetos/Unidad_1/build/
